<!DOCTYPE html>
<html ng-app="NewsTrackerApp">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="NewsController">
    <h1>The News</h1>
    <ol>
        <li class="article" ng-repeat="element in news">{{ element.title }}
            <i ng-class="(element.starred) ? 'unhidden' : 'hidden'" class="fa fa-star" aria-hidden="true"></i>
            <button ng-click="StarTheArticle(element.id)">Read Later</button>
            <!--<p>{{ element.starred }}</p>-->
        </li>
    </ol>
</body>
</html>
